In [1]:
import pandas as pd
from scipy import sparse
from sklearn.model_selection import train_test_split

In [15]:
ratings_ = pd.read_csv('data/rating.csv')
movies_ = pd.read_csv('data/movie.csv')
ratings_merged= pd.merge(movies_,ratings_).drop(['genres','timestamp'],axis=1)
print(ratings_.shape)
ratings_.head()

(20000263, 4)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [18]:
print(ratings_merged.shape)
ratings_merged.head()

(20000263, 4)

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [25]:
grouped = ratings_.groupby('movieId')['rating'].count()
df_new = grouped.reset_index()
dff = df_new[df_new['rating'] >= 50]
ratings = pd.merge(ratings_merged, dff, left_on='movieId', right_on='movieId', how='inner').drop('rating_y', axis=1) 
ratings

          movieId                        title  userId  rating_x
0               1             Toy Story (1995)       3       4.0
1               1             Toy Story (1995)       6       5.0
2               1             Toy Story (1995)       8       4.0
3               1             Toy Story (1995)      10       4.0
4               1             Toy Story (1995)      11       4.5
...           ...                          ...     ...       ...
19847942   125916  Fifty Shades of Grey (2015)  134156       0.5
19847943   125916  Fifty Shades of Grey (2015)  134499       2.0
19847944   125916  Fifty Shades of Grey (2015)  136037       0.5
19847945   125916  Fifty Shades of Grey (2015)  136660       3.5
19847946   125916  Fifty Shades of Grey (2015)  137805       1.0

[19847947 rows x 4 columns]

In [26]:
ratings = ratings.pivot_table(index=['userId'],columns=['title'],values='rating_x')
ratings.head()
print("Before: ",ratings.shape)

MemoryError: Unable to allocate 10.9 GiB for an array with shape (138493, 10523) and data type float64